
.condition {
  display: flex;
  border-bottom: 2px solid #108ee9;
  padding-bottom: 5px;
  line-height: 3.5;
  flex-wrap: wrap;
}

.justifyfull {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.vertically {
  display: flex;
  align-items: center;
}

.result {
  padding-top: 10px;
}
